* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  min-height: 100vh;
  background-color: rgb(201, 209, 218);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(236, 236, 238, 0.1)),
    url(/images/jeremy-thomas-space.jpg);
}

.section-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 8rem;
}

.article {
  display: flex;
  flex-direction: column;
  border: solid slategray;
  align-items: center;
  height: 30em;
  width: 25em;
  border-radius: 2%;
  box-shadow: 5px 5px 2px 2px rgba(26, 26, 26, 0.6);
  background-color: rgb(245, 245, 245, 0.75);
}

.shut-the-box-p {
  font-size: 25px;
}

.footer-p {
  margin: 0;
}
